[MASTER]
init-hook='import sys; sys.path.append("powerranger")'
enable=all
disable=
    missing-module-docstring,
    maybe-no-member,
    c-extension-no-member,
    locally-disabled,
    suppressed-message,
    too-few-public-methods,

max-line-length=119
